<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home PAge</title>
</head>
<body>
    <form action="/shipping" method="post">
        <div><label for="pname">Product Name:</label>
        <input type="text" id="pname" name="pname" required></div>
        <div><label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required></div>
        <button type="submit">Proceed to Shipping</button>
    </form>
</body>
</html>